.header {
  position: relative;
  font-family: serif;
  font-weight: bolder;
  &:before,
  &:after {
    content: '';
    display: block;
    width: 55px;
    height: 100%;
    position: absolute;
    z-index: 2;
    @include media('<desktop') {
      display: none;
    }
  }
  &:before {
    left: 0;
    top: 0;
    @include background-image(linear-gradient(90deg, #FFFFFF 0%, rgba(255,255,255,0.00) 100%));
  }
  &:after {
    right: 0;
    top: 0;
    @include background-image(linear-gradient(-90deg, #FFFFFF 0%, rgba(255,255,255,0.00) 100%));
  }
  .top-line {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #AB8F45;
  }
  .banner {
    text-align: center;
  }
  nav {
    ul {
      @include reset-box-model;
      @include reset-list-style;
    }
  }
  .go-home {
    @extend .right;
    a {
      display: block;
      background-image: url('../images/icon-home.png');
      background-repeat: no-repeat;
      background-position: left center;
      color: $color-primary;
      text-decoration: none;
      padding-left: 25px;
      padding-right: 20px;
      line-height: 48px;
      @include media('<=tablet') {
        display: none;
      }
    }
  }
  .nav-bar {
    &-inner {
      @include pie-clearfix;
      @include media('>=desktop') {
        width: 974px;
        margin: 0 auto;
      }
    }
    @include pie-clearfix;
    position: relative;
    @include background-image(linear-gradient(-180deg, #FFFFFF 0%, #F8F7F5 48%, #F0ECEB 90%, #E2DDD9 100%));
    border-bottom: 1px solid $color-gray-light;
  }
}

@import 'modules/_nav';
