mixin header
  .header
    .top-line
    //- .logo
    //-   img(src="", alt="Logo")
    .nav-bar
      .nav-bar-inner
        nav.main-nav.cf
          ul.cf
            li: a(href='javascript:;') 資料庫緣起
            li: a(href='javascript:;') 影片說明
            li: a(href='javascript:;') 瀏覽查詢
            li: a(href='javascript:;') 進階查詢
            li: a(href='javascript:;') 網站連結
            li: a(href='javascript:;') 個人書房
          a(href="javascript:;", id ='openup') MENU
            //- span.lines#line-1
            //- span.lines#line-2
            //- span.lines#line-3
          .go-home
            a(href='javascript:;') 回首頁
    .banner
      img(src="images/banner.png")

